
# IDE
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
# misc
# production
# testing
*.swo
*.swp
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.js
.vscode
/.pnp
/build
/coverage
/node_modules
npm-debug.log*
portfolio/
yarn-debug.log*
yarn-error.log*
