.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out 0.3s, transform 1s ease-in-out 0.3s;
}

.App.loaded {
  opacity: 1;
  transform: scale(1);
}